<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Editar usuários</title>
  <!-- fontes do google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <!-- css e js links-->
  <script src="https://kit.fontawesome.com/cb4069a99b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="icon" href="images\favicon.ico">
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="JS/usuariosFuncoes.js" type="text/javascript"></script>

</head>

<body class="paginaInicial">
  <!-- Seção cabeçalho que é utilizada em todas as telas internas do site-->
  <div class=containerTela>
    <!--barra de menu superior></!-->
    <div class="topnav">
      <span class="bemVindo">Editar usuários</span>
      <a href="/paginaPrincipal"> <i class="fas fa-house-user"> </i> Página Inicial</a>
      <div class="topnav-right">
        <a href="/"><i class="fas fa-sign-out-alt"></i> Sair</a>
      </div>
    </div>

    <!--barra de menu lateral></!-->

    <div class="barraLateral">
      <div class="vertical-menu">
        <br>
        <a href="/relatorios">Relatórios</a>
        <button class="dropdown-btn">Ordens de serviço
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/criarOrdens">Criar ordens de serviço</a>
          <a href="/pesquisarOrdensServico">Consultar e editar ordens de serviço</a>
        </div>
        <button class="dropdown-btn">Ordens preventivas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/ordemPreventivaCriar">Criar ordem preventiva</a>
          <a href="/consultarPreventivas">Consultar e editar ordens preventivas</a>
        </div>
        <button class="dropdown-btn">Máquinas
          <i class="fa fa-caret-down"></i>

        </button>
        <div class="dropdown-container">
          <a href="/cadastrarMaquinas">Cadastrar máquinas</a>
          <a href="/consultarMaquinas">Consultar e editar máquinas</a>
          <a href="/excluirMaquinas">Excluir máquinas</a>
          <a href="/processoMaquinas">Dados de processo</a>
        </div>
        <button class="dropdown-btn">Usuários
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/cadastrarUsuarioInternal">Cadastrar usuários</a>
          <a href="/consultarEditarUsuarios">Consultar e editar usuários</a>
        </div>
        <button class="dropdown-btn">Inventário
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/inventario">Cadastrar Itens</a>
          <a href="/consultarEditarItensInventario">Consultar e editar Itens</a>
        </div>
        <a href="/contato">Contate-nos!</a>
      </div>
    </div>

    <script>
      /* função para ativar os botões da barra lateral, dropdownbtn*/
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      }
    </script>

    <!--Conteúdo interno da página de criação do usuário></!-->
    <div class="conteudo">
        <form id="usuarioForm" action="/atualizarUsuario" method="post">
          <% listaDeUsuarios.forEach(function(user) { %>
      <div class="conteudoEsquerdoUsuario">


          <div class="mb-3">
            <label for="nomeUsuario" class="form-label">Nome de usuário</label>
            <input type="text" class="form-control" id="nomeUsuario" name="login"  maxlength="50" readonly value = "<%= user.login %>" >
            <div id="nomeUsuarioHelp" class="form-text">Login do usuário que será editado.</div>
          </div>

          <div class="mb-3">
              <label for="nomeCompletoUsuario" class="form-label">Nome completo</label>
              <input type="text" class="form-control" id="nomeCompletoUsuario" name="nomeCompletoUsuario"  aria-describedby="nomeHelp" value = "<%= user.nomeCompleto %>">
              <div id="nomeHelp" class="form-text">Nome completo do usuário pesquisado.</div>
            </div>

          <div class="mb-3">
            <label for="usuarioEmail1" class="form-label">Endereço de E-mail</label>
            <input type="email" class="form-control" id="usuarioEmail1" name="email"  maxlength="100" value = "<%= user.email %>">
            <div id="emailHelp" class="form-text">E-mail do usuário pesquisado.</div>
          </div>

          <div class="mb-3">
            <label for="usuarioPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" value = "<%= user.password %>" name="password">
              <div id="senhaHelp" class="form-text">Senha cadastrada do usuário pesquisado.</div>
          </div>
          <div class="mb-3">
          <label for="usuarioPassword2" class="form-label">Confirmação de senha</label>
          <input type="password" class="form-control" value = "<%= user.password %>" name="passwordCheck">
          <div id="contrasenha" class="form-text">Confirmação de senha cadastrada do usuário pesquisado.</div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>

        <a href="consultarEditarUsuarios" class="btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i> Voltar</a>

      </div>
      <div class="conteudoDireitoUsuario">

        <div class="dataNascimentoTipoUsuario">
          <div class="mb-3">
          <label class="form-label"> Data de nascimento:</label>
          <input class="form-control" type="text" value = "<%= user.dataNascimento.toDateString() %>" id="dataNascimento" name="dataNascimento"></input>
          <div id="dataNascimento" class="form-text">Data de nascimento cadastrada do usuário pesquisado.</div>
          <br>
          </div>


          <div class="mb-3">
          <label class ="form-label">Tipo de usuário: </label>
          </div>
          <div class="form-check">
          <input class="form-check-input" type="radio" value="Administrador" name="flexRadioDefault" id="tipoAdministrador">
          <label class="form-check-label" for="tipoAdministrador">
            Administrador
          </label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="Tecnico" name="flexRadioDefault" id="tipoTecnico" >
          <label class="form-check-label" for="tipoTecnico">
            Técnico
          </label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Usuario" name="flexRadioDefault" id="tipoUsuario" checked>
            <label class="form-check-label" for="tipoUsuario">
              Usuário
            </label>
            <div id="tipoUsuario" class="form-text">Selecione o tipo de usuário.</div>
        </div>
        </div>
      </div>
        <%  }); %>
    </form>
    </div>

  </div>



</body>

</html>
